<!-- Hero Section BELOW-->
<section class="bg-fixed relative bg-cover bg-center h-screen text-white" style="background-image: url(../../../assets/images/Confident05.jpg)">
  <!-- Gradient Overlay-->
  <div class="absolute inset-0 bg-gradient-to-br from-transparent via-transparent to-transparent opacity-90"></div>

  <!-- Welcome Content-->
  <div class="relative z-10 flex flex-col items-center justify-center h-full text-center px-6">
    <h1 class="text-6xl font-bold text-blue-900 tracking-tight leading-tight mb-4 drop-shadow-lg">MSD Medipharm</h1>
    <p class="text-2xl mb-8 drop-shadow-lg max-w-2xl text-black-800">
      "Dedicated to Serve You with Excellence in Health Products"
    </p>
    <a href="/services"
      class="bg-yellow-400 text-black font-semibold px-6 py-3 rounded-full text-lg transition hover:bg-yellow-500">
      Discover Our Services
    </a>
  </div>
</section>
