<!-- Mission Page -->
<app-header></app-header>
<section class="bg-gradient-to-br from-blue-100 to-blue-50 min-h-screen py-10 px-6 ">
  <div class="container mx-auto max-w-7xl mt-20 mb-0">
    <h2 class="text-5xl font-bold text-center text-black-800 mb-8">Our Mission and Core Values</h2>
    <div class="flex flex-col md:flex-row  items-center">
      <!--<img src="../../../assets/images/Logo002.jpeg" alt="Mission Image"
        class="rounded-lg shadow-lg md:w-1/2 mb-8 md:mb-0">-->



      <div class="md:pl-12">

        <h2 class="text-3xl font-bold mb-8 text-gray-700">Our Mission</h2>
        <p class="text-lg text-black-800 text-justify leading-relaxed">
          "Our mission is to enhance healthcare in Africa by producing high-quality and affordable health commodities"
        </p>
      </div>

      <div class="flex flex-col items-center">
        <!-- Title -->
        <h2 class="text-3xl font-bold mb-8 text-gray-700">Core Values</h2>

        <!-- Chart Container -->
        <div class="relative w-[600px] h-[600px] flex items-center justify-center">
          <!-- Central Circle -->
          <div
            class="absolute w-40 h-40 bg-blue-700 text-white rounded-full flex items-center justify-center text-center font-bold shadow-lg">
            Quality <br /> Excellence
          </div>

          <!-- Top Circle -->
          <div
            class="absolute w-24 h-24 bg-blue-700 text-white rounded-full flex items-center justify-center font-semibold text-center shadow-md"
            style="top: 8%; left: 50%; transform: translateX(-50%);">
            Integrity
          </div>

          <!-- Right Circle -->
          <div
            class="absolute w-24 h-24 bg-blue-700 text-white rounded-full flex items-center justify-center font-semibold text-center shadow-md"
            style="top: 50%; right: 5%; transform: translateY(-50%);">
            Customer <br /> Focus
          </div>

          <!-- Bottom Circle -->
          <div
            class="absolute w-24 h-24 bg-blue-700 text-white rounded-full flex items-center justify-center font-semibold text-center shadow-md"
            style="bottom: 8%; left: 50%; transform: translateX(-50%);">
            Community <br /> Impact
          </div>

          <!-- Left Circle -->
          <div
            class="absolute w-24 h-24 bg-blue-700 text-white rounded-full flex items-center justify-center font-semibold text-center shadow-md"
            style="top: 50%; left: 5%; transform: translateY(-50%);">
            Innovation
          </div>

          <!-- Circle Ring -->
          <div class="absolute w-[300px] h-[300px] rounded-full border-4 border-blue-300"></div>
        </div>
      </div>



    </div>
  </div>
</section>
<app-footer></app-footer>
