<div class="flex h-screen overflow-hidden">
  <!-- Sidebar -->
  <app-cms-sidenav [isSidebarVisible]="isSidebarVisible" (navigate)="handleNavigation($event)"></app-cms-sidenav>

  <!-- Main Content -->
  <div class="flex-1 flex flex-col bg-gradient-to-tr from-blue-50 to-white transition-all duration-300"
    [ngClass]="{ 'ml-64': isSidebarVisible, 'ml-16': !isSidebarVisible }">
    <!-- Header -->
    <app-cms-header class="fixed w-full z-50"></app-cms-header>

    <!-- Toggle Button -->
    <button (click)="toggleSidebar()"
      class="absolute top-4 left-4 z-50 bg-blue-600 text-white p-3 rounded-full shadow-md hover:bg-blue-700 transition-transform duration-300 transform hover:scale-110"
      aria-label="Toggle Sidebar">
      <!--<i class="fas fa-bars text-xl"></i>-->CMS
    </button>

    <!-- Landing Page Content -->
    <main class="flex-1 mt-16 overflow-y-auto p-8 text-justify">
      <section class="space-y-8">

        <div *ngIf="activeComponent === 'landing'" class="text-justify">
          <h1
            class="text-3xl font-bold bg-gradient-to-r from-black to-purple-600 text-transparent bg-clip-text animate-fade-in">
            <span class="text-blue-600 font-semibold"> <strong>MSD Content Management System</strong></span>
          </h1>
          <p class="text-lg leading-relaxed bg-gradient-to-l from-blue-100 to-purple-50 p-4 rounded-lg shadow-lg">
            Welcome to the <strong class="text-blue-600">Medical Stores Department Content Management System
              (MSD-CMS)</strong>!
            This
            system empowers administrators to efficiently manage and streamline essential content for Medical Stores
            Department (MSD) Website.
            <br><br>
            <strong>Main User:</strong> <span class="text-blue-600 font-semibold"> <strong>
                Administrator</strong></span>
            <br>
            <strong>Functions:</strong> Seamlessly create, update, and organize pages, manage images and files,
            customize
            settings, and ensure
            critical content is always up-to-date.
            <br><br>
            As the admin, you are the backbone of this system, ensuring smooth operations and making data accessible to
            the website. Your role is pivotal in keeping the system up to date for the betterment of the company's
            future
          </p>
        </div>


        <app-cms-home *ngIf="activeComponent === 'home'"></app-cms-home>
        <app-cms-pages *ngIf="activeComponent === 'pages'"></app-cms-pages>
        <app-cms-images *ngIf="activeComponent === 'images'"></app-cms-images>
        <app-cms-settings *ngIf="activeComponent === 'settings'"></app-cms-settings>
        <app-cms-info *ngIf="activeComponent === 'info'"></app-cms-info>
      </section>

    </main>
    <app-cms-footer class="fixed bottom-0 w-full"></app-cms-footer>

    <!-- Footer -->
  </div>
</div>