<app-header></app-header>
<!-- About Us Page -->
<section class="bg-gradient-to-br from-blue-100 to-blue-50 min-h-screen py-16 px-6">
  <div class="container mx-auto max-w-7xl mt-20 mb-0">
    <h2 class="text-5xl font-bold text-black mb-8 text-center">About Us</h2>
    <div class="grid md:grid-cols-2 gap-12">
      <img src="../../../assets/images/imageFrom.jpeg" alt="Company Image" class="rounded-lg shadow-lg">
      <div class="text-justify">
        <h6 class="text-2xl font-bold text-black">MSD Medipharm Manufacturing Co.Ltd</h6>
        <p class="text-lg text-bolder text-gray-700 mb-4 leading-relaxed">
          It is a Subsidiary company owned by the <b>Medical Stores Department (MSD)</b> by 100% responsible for the
          Manufacturing of
          health
          commodities. It was established in <b>2023</b> to undertake production activities which is one of MSD's core
          functions and thus
          remains with the role of <b>Procurement, Storage and Distribution of health commodities.</b> The aim was to
          increase
          efficiency
          and accountability to both MSD and Medipharm but also mitigate risks related to production considering the
          magnitude of
          their respective role and their complexity.<br>
          As a manufacturing company, <b>Medipharm owns Mask and Gloves Manufacturing Plants</b> in <b>Dar es Salaam and
            Makambako</b>
          respectively. It further owns a <b>Pharmaceutical Industrial Park in Zegereni, Kibaha where multiple
            Pharmaceutical</b>
          manufacturing industries are expected to be erected by either Medipharm itself or in collaboration with other
          players
          through a Joint Venture arrangement.
          Medipharm carries the MSD moto <b>‘’Dedicated to Save Life”</b> through the manufacturing of high-quality
          health
          commodities
          and hence increasing access to the Tanzania market and across the region.

        </p>
        <!--<p class="text-lg text-gray-700 leading-relaxed">
          With a professional team and a passion for patient-focused solutions, MSD Medipharm is a name you can
          rely on for all your medical and pharmaceutical needs. We look forward to continuing to serve and
          grow with our communities.
        </p>-->
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
